
<%- include('header') -%>

  <div class="box" id="heading">
    <h2> <%= ListTitle %>
    </h2>
  </div>


   <!-- Item List  -->

  <div class="box">
    <% for (let i=0;i<newListItems.length;i++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %>   </p>
      </div>
      <% } %>


       <!-- Form  -->
      <form  class="item" action="/" method="post">

        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= ListTitle %>>+</button>

      </form>
  </div>

  <%- include('footer') -%>




